.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-title {
  cursor: pointer;
}

.header-tabs-container {
  display: flex;
  min-height: 10vh;
}

.header-tab {
  min-height: 5vh;
  min-width: 15%;
  margin: 0;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}

.header-tab-selected {
  background-color: #3a3d42;
}

.header-tab:hover {
  background-color: #3a3d42;
}
