.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-title {
  cursor: pointer;
}

.header-tabs-container {
  display: flex;
  min-height: 10vh;
}

.header-tab {
  min-height: 5vh;
  min-width: 15%;
  margin: 0;
  padding: 30px;
  align-items: center;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}

.header-tab-selected {
  background-color: #3a3d42;
}

.header-tab:hover {
  background-color: #3a3d42;
}

.App-subheader {
  background-color: #3a4355;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-subheader-title {
  cursor: pointer;
}

.subheader-tabs-container {
  display: flex;
  min-height: 6vh;
}

.subheader-tab {
  min-height: 5vh;
  min-width: 15%;
  margin: 0;
  padding: 15px;
  align-items: center;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}

.subheader-tab-selected {
  background-color: #4c576d;
}

.subheader-tab:hover {
  background-color: #4c576d;
}

.input-with-label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  align-self: center;
}

.inputs-container{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.input-label{
  min-width: 300px;
  text-align: initial;
}

.input-box-container{
  display: flex;
  align-items: center;
}

.input-box{
  border-radius: 5px;
  min-height: 20px;
}

.submit-button{
  min-width: 120px;
  min-height: 40px;
  border-radius: 20px;
  background-color: #3a3d42;
  color: white;
  font-size: larger;
}